<%- include("menu.ejs") %>
<div class="container">
    <h1>Add Product</h1>
    <form  method='post' enctype="multipart/form-data" action="file-upload-action">
        <input type="text" name="name" placeholder="name" id=""/><br>
        <input type="text" name="price" placeholder="price" id=""/><br>
        <input type="text" name="discount" placeholder="discount" id=""/><br>
        <input type="file" name="userfile" placeholder="userfile" id=""><br>
        <input type="text" name="description" placeholder="description" id=""><br>
    
        <button>Upload Product</button>
    </form>

    <!-- <hr/> -->
    <!-- <form id="add-user-form" contentType="multipart/form-data">
        <input type="text" name="name" placeholder="name" id=""/><br>
        <input type="text" name="price" placeholder="price" id=""/><br>
        <input type="text" name="discount" placeholder="discount" id=""/><br>
        <input type="file" name="userfile" placeholder="userfile" id="">
       
        <br>
        <input type="text" name="description" placeholder="description" id=""><br>
    
        <button id="add-user">Upload Product</button>
    </form> -->
</div>






